# environment variables (VERY IMPORTANT)
.env

# dependencies
node_modules/

# git folder (should never be included anyway)
.git/

# Windows / system files
.OneDrive
~*
*.tmp

# optional safety files
*.log
pipeline-log.json
canva-exports.json
